{% extends 'events_site/layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
Вход
{% endblock %}

{% block content %}
<div class="container my-5">
	<h1 class="text-center">Вход</h1>
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
            <form method="post">
                {% csrf_token %}
                {{ form|as_crispy_errors }}
                {{ form.username|as_crispy_field }}
                {{ form.password|as_crispy_field }}
                <div class="d-flex flex-column align-items-center login-btns">
                    <button class="btn btn-primary my-1" type="submit">Войти</button>
                    <span class="mt-5">Нет аккаунта?</span>
                    <a class="btn btn-secondary my-1" href="{% url 'registration' %}">Зарегистрироваться</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}